body {
  height: 100vh;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}
.App {
  font-family: sans-serif;
  height: calc(100vh - 30px);
  /* margin-left: auto; */
  /* display: flex;
  flex-direction: column; */
}
h2 {
  margin: 2px;
}
.base-block {
  display: inline-block;
  height: 1.8em;
  width: 1.8em;
  border: 0.2px solid #a8a8a9;
}

button {
  font-size: 14px;
  padding: 2px 4px;
}

@media only screen and (min-width: 200px) and (max-width: 459px) {
  .base-block {
    display: inline-block;
    height: 1.5em;
    width: 1.5em;
    border: 0.2px solid #a8a8a9;
  }
}

@media only screen and (max-width: 600px) {
  .base-block {
    display: inline-block;
    height: 1.8em;
    width: 1.8em;
    border: 0.2px solid #a8a8a9;
  }
}

.game-container {
  height: calc(100vh - 75px);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.board {
  border: 1px solid black;
}

.header-info {
  padding: 0px 10px;
  /* position: fixed; */
  top: 0px;
  left: 0px;
  right: 0px;
  background: papayawhip;
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  filter: opacity(95%);
}

.footer-info {
  padding: 0px 10px;
  z-index: 8;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: red;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.footer-info .mode {
  background-color: pink;
  margin: 0 5px;
  padding: 0px 10px;
  border-radius: 3px;
  filter: opacity(95%);
}
.mobile-error {
  height: 100vh;
  /* position: relative is added as fixed will not respect zindex */
  position: relative;
  /* position: relative is added as fixed will not respect zindex */
  z-index: 100;
  background: lightsalmon;
  color: #ffffee;
  font-size: x-large;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
