body {
  height: 100vh;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}
.app {
  font-family: sans-serif;
  height: calc(100vh - 30px);
  background: rgb(255,201,253);
  /* background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(102,9,105,1) 100%, rgba(0,212,255,1) 100%); */
  /* background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(131,58,180,1) 100%); */
  background: linear-gradient(45deg, rgba(96,33,151,1) 0%, rgba(204,59,238,1) 100%);


  /* margin-left: auto; */
  /* display: flex;
  flex-direction: column; */
}
h2 {
  margin: 2px;
}
.base-block {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  margin: .2rem;
  border-radius: 0.2rem;
  /* border: 0.2px solid #a8a8a9; */
}

button {
  font-size: 14px;
  padding: 4px 8px;
  color: #fff;
  background: black;
  margin:4px;
  border: none;
  box-shadow: rgb(221, 203, 212) 0px 1px 2px 0px
}

@media only screen and (min-width: 200px) and (max-width: 459px) {
  .base-block {
    display: inline-block;
    height: .2rem;
    width: .2rem;
  }
}

@media only screen and (max-width: 600px) {
  .base-block {
    display: inline-block;
    height: 1.8rem;
    width: 1.8rem;
  }
}

.game-container {
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.game-heading {
  font-size: 1.4em;
}
.game-notif {
  font-size: 1.1em;
}

.board {
  /* border: 1px solid black; */
  background-color: rgb(254,254,254);
  border-radius: .5em;
  padding: 1em;
  margin: 1em;
  -webkit-box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.75);
}

.header-info {
  padding: 0px 10px;
  /* position: fixed; */
  top: 0px;
  left: 0px;
  right: 0px;
  background: papayawhip;
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  filter: opacity(95%);
}

.footer-info {
  padding: 0px 10px;
  z-index: 8;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: red;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.footer-info .mode {
  background-color: pink;
  margin: 0 5px;
  padding: 0px 10px;
  border-radius: 3px;
  filter: opacity(95%);
}
.mobile-error {
  height: 100vh;
  /* position: relative is added as fixed will not respect zindex */
  position: relative;
  /* position: relative is added as fixed will not respect zindex */
  z-index: 100;
  background: lightsalmon;
  color: #ffffee;
  font-size: x-large;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.food {
  box-sizing: border-box;
  position: relative;
  border: 5px solid rgb(242,239,242);
  background: rgb(242,239,242);
}
.food::after{
  position: absolute;
  background: rgb(227,74,111);
  height: 100%;
  width: 100%;
  content: "";
  border-radius: 50%;
}
.snake {
  background: rgb(72,180,143);
  /* background: rgb(240,144,138);
  background: rgb(109,210,229); */
}
.empty {
  background: rgb(242,239,242);
}